*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #1c1c1c;
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
    line-height: 1.5;
}
header{
    padding: 15px 6% 15px 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(#d67229, #7a3803) ;

}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: antiquewhite;
    margin-right: 10px;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    
   
}
.downArrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 20px;
    background-color: #d67229;
    margin: auto;

}



 .photo{
    background-image: url(me2.JPG);
    background-size: 15rem; 
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    margin: auto ;
    
    
    
    
   
   
    
    
    
   


}

.hero-banner{
   
    background: linear-gradient(10deg, #4d5061, #000000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
    
    

}

.hero-banner h2{
    color: #d67229;

   
    font-size: 3rem;
}

    


.hero-banner p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d67229;
  
    font-size: 20;
    margin-bottom: 8em;

}
